version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://172.16.16.38:11434   # <-- your local machine IP or tunnel URL
      - DATABASE_URL=sqlite+aiosqlite:///./data/handwriting.db
    volumes:
      - backend_data:/app/data
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5000:5000"
    environment:
      - BACKEND_URL=http://15.236.201.26:8000   # <-- your EC2 public IP
    depends_on:
      - backend

volumes:
  backend_data:
