version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=https://blue-sunshine-8273.trycloudflare.com   # <-- Local machine Ollama URL
      - DATABASE_URL=sqlite+aiosqlite:///./data/handwriting.db
    volumes:
      - backend_data:/app/data
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5000:5000"
    environment:
      - BACKEND_URL=http://15.236.201.26:8000     # <-- EC2 Public IP
    depends_on:
      - backend

volumes:
  backend_data:
